@import play.api.i18n.MessagesApi
@import  play.api.i18n.Messages

@(userForm: Form[User],m:String)(implicit message: Messages)

@import helper._
<head>
    @* Here's where we render the page title `String`. *@

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
    <script src="@routes.Assets.versioned("bootstrap/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
</head>

@navbar("Login")

<h1>@m</h1>

<div class="form-group">
@helper.form(action = routes.SignUpController.submit(),'name -> "userform", 'onsubmit -> "return validate()") {

@helper.inputText(userForm("id"),'class -> "form-control",'placeholder -> "Unique User Name" )
@helper.inputText(userForm("First_Name"),'class -> "form-control",'placeholder -> "First Name" )
@helper.inputText(userForm("Middle_Name"),'class -> "form-control",'placeholder -> "Middle Name" )
@helper.inputText(userForm("Last_Name"),'class -> "form-control",'placeholder -> "Last Name" )
@helper.inputPassword(userForm("password"),'class -> "form-control",'placeholder -> "Password")
@helper.inputPassword(userForm("confirmpassword"),'class -> "form-control",'placeholder -> "Confirm Password")
@helper.inputText(userForm("mobile"),'class -> "form-control",'placeholder -> "Mobile")
 <label>Gender:</label>
    <label><input type="radio" name="gender" value="Male">Male</label>
    <label><input type="radio" name="gender" value="Female">Female</label><br><br>

    <label>Hobbies:</label>
    <label class="checkbox-inline"><input type="checkbox" value="chess" name="hobbies[]">Hockey</label>
    <label class="checkbox-inline"><input type="checkbox" value="hockey"  name="hobbies[]">Chess</label>
    <label class="checkbox-inline"><input type="checkbox" value="football"  name="hobbies[]">Football</label>
    <br/>


<button type="submit" class="">Submit</button>
}
</div>

<script type="text/javascript" charset="utf-8">
    function validate(){

   var mobile = (userform.mobile.value).length;
    var password = (userform.password.value);
    var cpassword = (userform.confirmpassword.value);
    if(password!=cpassword){
     alert("Confirm password doesnot match");
     return false;
    }
    if(password.length < 3 ){
      alert("Atleast 3 char requires in password");
      return false;
    }
       if(mobile < 10 || mobile > 10){
       alert("mobile number should have 10 character ");
       return false;
       }

    }
</script>